{% extends 'base/base.html' %}

{% load static %}

{% block content %}
  <section class="grid-portfolio fadein">
    <div class="grid-images">
      <div class="item-sizer"></div>
      {% for category in categories %}
        <a class="item" href="{% url 'catalog:category-catalog' category.id %}" style="background-image: url('{% static "img/portfolio/red-book.jpg" %}')">
          <div class="caption">
            <h4>{{ category.name }}</h4>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}
