{% extends 'base/base.html' %}

{% load static %}

{% block content %}
  <section class="content fadein">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-12 col-sm-5" id="sticky">
            <div class="row">
                <div class="col-md-2">
                    <div class="thumbnail-list">
                        {% for img in item.images.all %}
                            <div class="thumbnail-item {% if forloop.first %}active{% endif %}"
                                  onclick="changeMainImage(this, '{{ img.image.url }}')">
                                <img src="{{ img.image.url }}" alt="{{ item.name }}" class="img-thumbnail m-0 p-0">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="main-image-container">
                        {% for img in item.images.all %}
                            <div class="main-image {% if forloop.first %}active{% endif %}">
                                <img src="{{ img.image.url }}" alt="{{ item.name }}" class="img-fluid">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <h4>{{ item.name }}</h4>
            <a href="{% url 'catalog:item-configurator' item.id %}" class="btn btn-primary">Configurator</a>
            <table class="table mt-md">
              <tr>
                <td width="120"><strong>Age</strong></td>
                <td>26</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div id="sticky-holder">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content mt-xl fadein">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4>Latest project</h4>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script>
      function changeMainImage(thumbnailElement, imageUrl) {
          document.querySelectorAll('.thumbnail-item').forEach(item => {
              item.classList.remove('active');
          });
          thumbnailElement.classList.add('active');
          const mainImage = document.querySelector('.main-image.active img');
          if (mainImage) {
              mainImage.src = imageUrl;
          }
      }
  </script>
{% endblock %}
